{% extends "base.html" %}
{% block title %}
  Movies Rating
{% endblock %}

{% block main %}
  <div class="container py-5">
    <h1 class="mb-4 fw-bold text-center">
      <i class="bi bi-camera-reels text-primary me-2"></i>Movies Rating
    </h1>

    {% if movie_catalog %}
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped align-middle mb-0">
              <thead class="table-dark text-center">
              <tr>
                <th scope="col" style="width: 20%;">Title</th>
                <th scope="col" style="width: 40%;">Description</th>
                <th scope="col" style="width: 10%;">Year</th>
                <th scope="col" style="width: 10%;">Rating</th>
                <th scope="col" style="width: 20%;">Original Link</th>
                <th scope="col" style="width: 20%;">Action</th>
              </tr>
              </thead>
              <tbody>
              {% for movie in movie_catalog %}
                <tr>
                  <!-- Title -->
                  <td class="fw-semibold text-start">
                    {{ movie.title }}
                  </td>

                  <!-- Description -->
                  <td class="text-muted">
                    {{ movie.description[:100] ~ ('...' if movie.description|length > 100) }}
                  </td>

                  <!-- Year -->
                  <td class="text-center">
                    <span class="badge bg-secondary">{{ movie.year_released }}</span>
                  </td>

                  <!-- Rating -->
                  <td class="text-center">
                    {% if movie.rating >= 8 %}
                      <span class="badge bg-success">{{ movie.rating }}</span>
                    {% elif movie.rating >= 5 %}
                      <span class="badge bg-warning text-dark">{{ movie.rating }}</span>
                    {% else %}
                      <span class="badge bg-danger">{{ movie.rating }}</span>
                    {% endif %}
                  </td>

                  <!-- Link -->
                  <td class="text-center">
                    {% if movie.original_link %}
                      <a
                        href="{{ movie.original_link }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="badge bg-secondary text-decoration-none d-inline-flex align-items-center"
                      >
                        <i class="bi bi-box-arrow-up-right me-1"></i>Open
                      </a>
                    {% else %}
                      <span class="badge bg-secondary">N/A</span>
                    {% endif %}
                  </td>
                  <!-- Action -->
                  <td class="text-center">
                    <div class="d-flex justify-content-center gap-2">
                      <a href="{{ url_for("movie-catalog:update-view", slug=movie.slug ) }}"
                         class="btn btn-sm btn-outline-primary d-flex align-items-center px-2 py-1">
                        <i class="bi bi-pencil-square me-1"></i> Edit
                      </a>
                      <button type="button" class="btn btn-sm btn-outline-danger d-flex align-items-center px-2 py-1"
                              data-bs-toggle="modal"
                              data-bs-target="#modal-confirm-delete-{{ movie.slug }}">
                        <i class="bi bi-trash me-1"></i> Delete
                      </button>
                    </div>
                      {% include "movie-catalog/components/delete_modal_window.html" %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="my-3">
        <a href="{{ url_for("movie-catalog:create-view") }}" class="btn btn-outline-primary">Add movie to Rating</a>
      </div>
    {% else %}
      <div class="alert alert-warning mt-5 text-center fw-bold" role="alert">
        There are no films in the catalog 😥
        <div class="my-3">
          <a href="{{ url_for("movie-catalog:create-view") }}" class="btn btn-outline-primary">Add first movie to
            Rating</a>
        </div>
      </div>
    {% endif %}
  </div>

  <style>
    tr.htmx-swapping td {
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }
  </style>
  <script
    src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
    integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
    crossorigin="anonymous"></script>
{% endblock %}
